<h1>Studies</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @studies.each do |study| %>
      <tr>
        <td><%= link_to study, study %></td>
        <td>
          <%= link_to 'Edit', edit_study_path(study) %>
          <%= link_to 'Destroy', study, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Study', new_study_path, class: 'btn btn-primary btn-sm' %>
