<h1><%= @variable %></h1>

<%= link_to 'Edit', edit_variable_path(@variable), class: 'btn btn-primary btn-sm' %>

<h2>Personnes</h2>

<table class="table">
  <% @study.persons.each do |person| %>
    <% evaluation = person.evaluation_for(@variable) %>
    <tr>
      <td><%= link_to person, person %></td>
      <td><%= render 'evaluations/show', evaluation: evaluation %></td>
    </tr>
  <% end %>
</table>
